body{
    margin: 0px;
}
h1 {
    font-family: 'Montserrat' sans-serif;
}
.post-container{
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #fffafa;

}
.post-container .date {
    font-family: 'Roboto', sans-serif;
    color: #0dc7c7;
}
.post-container div.post-content {
    width: 90%;
    font-family: 'Open Sans';
    font-weight: normal;
}
.post-container .post {
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 50px;
}