* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1 {
    text-align: center;
    padding: 10px 0px 30px 0px;
}

body,
html {
    max-height: 100vh;
    background-color: cadetblue;
}

.form {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

#user-data>input,
.select>select {
    padding: 5px;
    width: 500px;
}

#user-data>label,
.radio>label {
    display: block;
    padding: 6px 0px;
}

.select>label {
    padding: 20px 0px 5px 0px;
    display: block;
}

#first-label {
    padding-top: 20px;
    display: block;
}

.radio {
    display: flex;
    padding-top: 5px;
}

.radio>label {
    padding: 5px 10px;
}

.radio-label,
.check-label,
.comments-label {
    padding: 20px 0px 10px 0px;
}

#comments {
    display: block;
    width: 500px;
}