.container img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 40px 80px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.363);
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  display: grid;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.363);
}

.followBtn {
  background-image: linear-gradient(
    to left bottom,
    #0077b6,
    #2592c6,
    #48acd4,
    #6bc6e1,
    #90e0ef
  );
  border: none;
  color: #efeaea;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.followBtn:hover {
  position: relative;
  bottom: 2px;
}
