.container>img {
    width: 300px;
    height: 350px;
    margin-left: 40px;
    border: black 5px solid;
}

.container {
    height: 700px;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #203147;
    border-radius: 10px;
    display: flex;
    padding: 120px 0px;
}

.container h2 {
    text-align: center;
}

.container h2,
p {
    padding: 0px 20px;
    line-height: 1.8em;
}
