* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: darkgrey;
    min-height: 100vh;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
