* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
.container {
    min-height: 100vh;
    background-color: darkgrey;
    flex-direction: column;
    display: flex;
}
.header {
    width: 100%;
    height: 60px;
    border: 2px solid;
    background-color: white;
    display: flex;
    justify-content: center;
}
.main {
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6"
    ;
}
.item {
    border: 2px solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    height: 60px;
    border: 2px solid;
    background-color: white;
    display: flex;
    justify-content: center;
}
.item1 {
    grid-area: item1;
    min-width: auto;
}
.item2 {
    grid-area: item2;
    min-width: auto;
}
.item3 {
    grid-area: item3;
    min-width: auto;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
@media (max-width: 680px) {
    .main {
        grid-template-areas: 
        "item1 item1 item1"
        "item2 item2 item2"
        "item3 item3 item3"
        "item4 item4 item4"
        "item5 item5 item5"
        "item6 item6 item6";
    }
}