* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 65px;
    height: 100px;

}
.logorock {
    width: 50px;
}
.onebit {
    width: 300px;
}
.buttons {
    display: flex;
    gap: 10px;
    padding-right: 65px;
}
.buttonHeader {
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.buttonHeader:hover {
    color: red;
    border-color: red;
}


