* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial;
}

body,
html {
  min-height: 100vh;
  background-color: rgb(56, 55, 53);
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}

button {
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
}
